#content

  .textbox
    %h2
      = @title
    %p 
      Displays all availabe locations. You can edit and delete existing locations.
    %p
      Enable and Disable locations to display or hide them in the voting table. But do this before the first user votes

  %br

  .locationbox
  
    %table.table.table-condensed
      %thead
        %tr
          %th
            .content #
          %th
            Category
          %th
            Name
          %th
            Remark 
          %th
            URL
          %th{:style => "text-align:center;"}
            Available
          - if logged_in?
            %th{:style => "text-align:center;"}
              Action
      %tbody
        - cnt = 1
        - @locations.each do |location|
          %tr
            %td
              - cnt = cnt + 1 - 1
              #{cnt}
            %td
              #{location.category}
            %td
              #{location.name}
            %td
              #{location.description}
            %td
              %a{:href => '%s' % location.url} #{location.url}
            %td{:style => "text-align:center;"}
              - if location.enabled == "on"
                %i{:class => 'fa fa-check-square-o', :style => "color: rgb(92, 184, 92)"}  
              - else
                %i{:class => 'fa fa-minus-square-o', :style => "color: rgb(217, 83, 79)"} 
            %td{:style => "text-align:center;"}
              - if logged_in? 
                %a{:href => '/location/%d/edit' % location.id, :style => "text-decoration: none;"} 
                  %button{:class => 'btn-xs', :typ => 'button'}
                    %span{:class => 'fa fa-pencil'}
                %form.delete{ :action => "/delete", :method => 'post'}
                  %input{ :type => 'hidden', :name => 'id', :value => "#{location.id}"}
                  %input{ :type => 'hidden', :name => 'return_to', :value => request.fullpath}
                  %button.btn-delete{:type => 'submit', :class => 'btn-xs'}
                    %span{:class => 'fa fa-trash-o'}
                  /*%input.tagpush{ :type => 'submit', :value => 'x'}*/
            - cnt += 1
